.main {
    /* display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: start; */
    width: 100%;
    padding: calc(2.2rem - 1px);
}


.main__hero {
    min-height:  calc( 100dvh - 4.3rem - 1px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.hero__row {
    display: flex;
}

.hero__row div span {
    padding: 0.5rem 1rem;
    color: var(--tertiary-color);
    border-radius: 0;
    text-align: left;
    width: 100%;
    height: 100%;
}

.hero__row span:nth-child(2) {
    border-left: 1px solid var(--secondary-color);
}


@media (max-width: 800px) {
    .main__aside-left {
        grid-column: span 3 / span 3;
        top: 2.25rem;
        z-index: -10;
    }
}

.overview span {
    display: inline-block;
    margin-right: 1rem;
    letter-spacing: 0.2rem;
}

.index {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--tertiary-color);
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

@media (max-width: 800px) {
    .main__links {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }   

    .link {
        height: fit-content;
        aspect-ratio: 1;
    }
    .hero__row {
        display: block;
    }
    
}
